<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auth project</title>
</head>
<nav>
    <div><a href="{% url 'home'%}">Home</a></div>
    {% if user.is_authenticated %}
        <div>Hello, {{ user.username }}!</div>
        <div>
            <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Выйти</button>
            </form>
        </div>
    {% else %}
        <div><a href="{% url 'login'%}">Login</a></div>
        <div><a href="{% url 'register'%}">Sign in</a></div>
    {% endif %}
</nav>
<body>
  {% block content %}
  {% endblock content%}
</body>
</html>